.red {
    color:red;}
.body-ui{
width:80%; padding: 20px;background-color: rgb(215, 214, 235);
    }
    a{
        color:blue;
    }
    p{
        text-align:justify;
    }
    a{
        color:blue;
    }